.main{
    background: #ccc;
    max-width: 90%;
    /* word-wrap: break-word; */
    padding: 10px;
    border-radius: 15px;
    align-self: flex-start;
    margin-top: 10px;
    /* position: reletive; */
}
.main p{
    margin-bottom: 0;
    display: inline-block;
    word-wrap: break-word;
    width: 100%;
}
.main .time{
    color: grey;
    font-size: 12px;
    margin-left: 10px;
    /* display: block; */
    position: absolute;
    right: 0;
    bottom: 0;
}
.spy{
    opacity: 0;
}
.main .span{
    position: relative;
}
