.main{
    background: white;
    border-radius: 20px 20px 0px 0px;
    padding: 10px;
    /*height: 500px;*/
    height: calc(100vh - 70px - 75px);
    overflow: auto;
    /* display: flex-inline; */
    /* flex-direction: column-reverse; */
    /* display: flex; */
    /* align-items: flex-start; */
    display:flex;
flex-direction:column-reverse;
    border: 1px solid white;
}
.reletive{
    position: relative;
    overflow: hidden;
}
.button{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    right: 10px;
    width: 40px;
    height: 40px;
    border: none;
    background: url(send.png) center no-repeat;
    background-size: contain;
    /*display: none;*/
}